@tailwind base;
@tailwind components;
@tailwind utilities;

.dev {
  padding: 1rem;
  border-radius: 11px;
  position: relative;
}

.dev__hover_effect {
  position: absolute;
  background: #e6eff7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 11px;
}

.dev:hover .dev__hover_effect {
  background: #002b4f;
  transition: all 0.2s ease-in-out;
  transform: skew(0deg, -2deg);
  top: 6px;
}
